/* foundation */
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&family=Zen+Old+Mincho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;700&family=Zen+Old+Mincho&display=swap");
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

img {
  width: 100%;
  max-width: 100%;
}

body {
  font-family: "Zen Maru Gothic", serif;
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 200px;
}

a {
  cursor: pointer;
}

/* layout */
.l-header {
  width: 100%;
  background: white;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 999;
}
.l-header__logo {
  padding: 0 0 0 5vw;
}
.l-header__logo img {
  width: 50%;
  height: auto;
}
.l-header__nav {
  width: 60%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.l-header__nav-item {
  padding: 0 0 0 2vw;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  white-space: nowrap;
}
.l-header__nav-item:first-child {
  padding: 0;
}
.l-header__inquiry {
  height: 10vh;
  width: 15%;
  max-width: 100%;
}
.l-header__inquiry img {
  width: 215px;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  top: 0;
  right: 0;
}

.l-header__sp {
  display: none;
}

@media screen and (max-width: 1023px) {
  .l-header {
    display: none;
  }
  .l-header__sp {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    background: white;
    z-index: 100;
  }
  .l-header__sp-logo {
    padding: 0.5rem;
  }
  .l-header__sp-logo img {
    width: 50%;
  }
  .l-header__sp__wrap {
    width: 90%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .l-header__sp__wrap-logo {
    margin: 0 0 0 3rem;
  }
  .l-header__sp__wrap-logo img {
    width: 80%;
  }
  .l-header__sp__inner {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem 1rem;
  }
}
.l-drawer__button.active span:first-child {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.l-drawer__button.active span:nth-child(2) {
  opacity: 0;
}
.l-drawer__button.active span:last-child {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.l-drawer__button {
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 999;
  background: white;
}
.l-drawer__button span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2rem;
  height: 2px;
  background-color: #F5A512;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.l-drawer__button span:first-child {
  -webkit-transform: translate(-50%, calc(-50% - 0.5rem));
          transform: translate(-50%, calc(-50% - 0.5rem));
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.l-drawer__button span:nth-child(2) {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.l-drawer__button span:last-child {
  -webkit-transform: translate(-50%, calc(-50% + 0.5rem));
          transform: translate(-50%, calc(-50% + 0.5rem));
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.l-drawer__nav.active {
  opacity: 1;
  visibility: visible;
}
.l-drawer__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.l-drawer__nav__inner {
  position: relative;
  width: 80%;
  height: 100%;
  background-color: white;
  padding: 8rem 1.5rem 1rem;
  margin: 0 0 0 auto;
  overflow: scroll;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.l-drawer__nav__menu {
  list-style: none;
  padding-left: 0;
}
.l-drawer__nav__link {
  display: block;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 1rem 1rem;
  border-bottom: solid 1px lightgray;
}

.l-drawer__nav.active .l-drawer__nav__inner {
  background: #F5A512;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

footer .l-footer {
  width: 100%;
  position: relative;
}
footer .l-footer__wrap {
  width: 100%;
  position: relative;
}
footer .l-footer__wrap img {
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .l-footer__wrap-ttl {
  width: 35%;
  height: 200px;
  background: #F5A512;
  background-color: transparent;
  background-color: rgba(245, 165, 18, 0.631372549);
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 20px;
}
footer .l-footer__wrap-ttl span {
  width: 100%;
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 1;
}
@media screen and (max-width: 1023px) {
  footer .l-footer__wrap {
    width: 100%;
    position: relative;
  }
  footer .l-footer__wrap img {
    height: 70vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  footer .l-footer__wrap-ttl {
    width: 80%;
    height: 150px;
    background: #F5A512;
    background-color: transparent;
    background-color: rgba(245, 165, 18, 0.631372549);
    position: absolute;
    top: 50%;
    left: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.6rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 20px;
  }
  footer .l-footer__wrap-ttl span {
    width: 100%;
    display: grid;
    place-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    color: white;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 1;
  }
}

.l-hero__container {
  max-width: calc(1000px + 2rem);
  margin-inline: auto;
  padding: 1rem;
}
@media screen and (max-width: 1023px) {
  .l-hero {
    max-width: 100%;
    padding-inline: 1rem;
  }
}

.l-trouble__container {
  max-width: calc(1000px + 2rem);
  margin-inline: auto;
  padding: 1rem;
}
@media screen and (max-width: 1023px) {
  .l-trouble {
    max-width: 100%;
    padding-inline: 1rem;
  }
}

.l-question__container {
  max-width: calc(1500px + 2rem);
  margin-inline: auto;
  padding: 1rem;
}
@media screen and (max-width: 1023px) {
  .l-question {
    max-width: 200%;
    padding-inline: 1rem;
  }
}

.l-Achievements__container {
  max-width: calc(1000px + 2rem);
  margin-inline: auto;
}
@media screen and (max-width: 1023px) {
  .l-Achievements {
    padding: 0;
  }
}

.l-flow__container {
  max-width: calc(1000px + 2rem);
  margin-inline: auto;
  padding: 1rem;
}
@media screen and (max-width: 1023px) {
  .l-flow__container {
    max-width: 100%;
    padding-inline: 1rem;
  }
}

.l-support__container {
  max-width: calc(1000px + 2rem);
  margin-inline: auto;
  padding: 1rem;
}
@media screen and (max-width: 1023px) {
  .l-support__container {
    max-width: 100%;
    padding-inline: 1rem;
  }
}

main .l-hero {
  width: 100%;
  height: 95vh;
  position: relative;
  background: #FCEED0;
}
main .l-hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 95vh;
  background-image: url(../../src/img/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
}
main .l-hero__textwrap {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  z-index: 2;
  left: 5%;
}
main .l-hero__textwrap-item01 {
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
  background: white;
  margin: 0 0 1rem 0;
  padding: 0.3rem 2.5rem;
}
main .l-hero__textwrap-item01 span {
  font-size: 6rem;
  color: #F5A512;
}
main .l-hero__textwrap-item02 {
  width: 55%;
  font-size: 2rem;
  font-weight: bold;
  background: white;
  margin: 0 0 1rem 0;
  padding: 0.3rem 1.5rem;
}
main .l-hero__textwrap-item03 {
  width: 71%;
  font-size: 2rem;
  font-weight: bold;
  background: white;
  margin: 0 0 1rem 0;
  padding: 0.3rem 1.5rem;
}
main .l-hero__CV {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: 3;
}
@media screen and (max-width: 1023px) {
  main .l-hero__textwrap {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    z-index: 2;
    left: 0;
  }
  main .l-hero__textwrap-item01 {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    background: white;
    margin: 0 0 1rem 0;
    padding: 0.3rem 2.5rem;
  }
  main .l-hero__textwrap-item01 span {
    font-size: 3rem;
    color: #F5A512;
  }
  main .l-hero__textwrap-item02 {
    width: 70%;
    font-size: 1.2rem;
    font-weight: bold;
    background: white;
    margin: 0 0 1rem 0;
    padding: 0.3rem 1.5rem;
  }
  main .l-hero__textwrap-item03 {
    width: 90%;
    font-size: 1.2rem;
    font-weight: bold;
    background: white;
    margin: 0 0 1rem 0;
    padding: 0.3rem 1.5rem;
  }
  main .l-hero__CV {
    width: 65%;
    position: fixed;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 20%);
            transform: translate(-50%, 20%);
    z-index: 3;
  }
  main .l-hero__CV img {
    width: 100%;
  }
}

.l-trouble {
  width: 100%;
  background: #FCEED0;
  height: 100%;
}
.l-trouble-ttl {
  position: relative;
  width: 80%;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: white;
  border: 3px solid #F5A512;
  border-radius: 50px;
  -webkit-transform: translate(0%, -60%);
          transform: translate(0%, -60%);
}
.l-trouble-ttl::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 50%;
  width: 75px;
  height: 50px;
  background: #F5A512;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  z-index: 1;
}
.l-trouble-ttl::before {
  content: "";
  position: absolute;
  bottom: -45px;
  left: 50%;
  width: 75px;
  height: 50px;
  background: white;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  z-index: 2;
}
.l-trouble__wrapper {
  width: 90%;
  height: 100%;
  margin: 0 auto 5rem auto;
}
.l-trouble__wrapper-pcimg {
  width: 100%;
  margin: 0 auto;
}
.l-trouble__wrapper-spimg {
  display: none;
}
.l-trouble__wrapper-text {
  width: 100%;
  padding: 2rem 0 2rem 0;
  text-align: center;
  font-size: 1.4rem;
}
.l-trouble__wrapper-text span {
  font-weight: bold;
}
@media screen and (max-width: 1023px) {
  .l-trouble-ttl {
    position: relative;
    width: 80%;
    font-size: 3vw;
    font-weight: bold;
    margin: 0 auto;
    padding: 1.2rem;
    text-align: center;
    background: white;
    border: 3px solid #F5A512;
    border-radius: 50px;
    -webkit-transform: translate(0%, -60%);
            transform: translate(0%, -60%);
  }
  .l-trouble-ttl::after {
    content: "";
    position: absolute;
    bottom: -3vw;
    left: 50%;
    width: 5vw;
    height: 3vw;
    background: #F5A512;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
            clip-path: polygon(50% 100%, 0 0, 100% 0);
    z-index: 1;
  }
  .l-trouble-ttl::before {
    content: "";
    position: absolute;
    bottom: -2.4vw;
    left: 50%;
    width: 5vw;
    height: 3vw;
    background: white;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
            clip-path: polygon(50% 100%, 0 0, 100% 0);
    z-index: 2;
  }
  .l-trouble__wrapper {
    width: 90%;
    height: 100%;
    margin: 0 auto 2rem auto;
  }
  .l-trouble__wrapper-pcimg {
    display: none;
  }
  .l-trouble__wrapper-spimg {
    display: block;
  }
}

.l-about {
  width: 100%;
  width: 100%;
  margin: 5rem 0 10rem 0;
}
.l-about__wrap {
  width: 80%;
  margin: 0 auto;
}
.l-about__wrap-ttl {
  font-size: 2rem;
  text-align: center;
}
.l-about__wrap__imgtext {
  width: 100%;
  margin: 2rem auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.l-about__wrap__imgtext-img {
  width: 20%;
}
.l-about__wrap__imgtext-text {
  width: 20%;
  margin: 0 0 0 2rem;
  font-size: 2rem;
  font-weight: bold;
}
.l-about__inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5rem 0;
}
.l-about__inner-img {
  width: 50%;
  height: 100%;
}
.l-about__inner__textwrap {
  width: 50%;
  margin: 2vw 0 0 7vw;
}
.l-about__inner__textwrap-ttl {
  font-size: 2.5vw;
  letter-spacing: 0.3rem;
  line-height: 3vw;
  font-weight: bold;
}
.l-about__inner__textwrap-text {
  width: 100%;
  font-size: 1.6vw;
  line-height: 3vw;
  letter-spacing: 0.3rem;
  margin: 2rem 0 0 0;
}
@media screen and (max-width: 1023px) {
  .l-about__wrap {
    width: 100%;
    margin: 0 auto;
  }
  .l-about__wrap-ttl {
    font-size: 1.6rem;
    text-align: center;
  }
  .l-about__wrap__imgtext {
    width: 100%;
    margin: 2rem auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .l-about__wrap__imgtext-img {
    width: 30%;
  }
  .l-about__wrap__imgtext-text {
    width: 30%;
    margin: 0 0 0 1.5rem;
    font-size: 5vw;
    font-weight: bold;
  }
  .l-about__inner {
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 5rem;
  }
  .l-about__inner-img {
    width: 90%;
    height: 100%;
  }
  .l-about__inner__textwrap {
    width: 90%;
    margin: 2vw 0 0 10vw;
  }
  .l-about__inner__textwrap-ttl {
    font-size: 4vw;
    letter-spacing: 0.3rem;
    line-height: 5vw;
    font-weight: bold;
  }
  .l-about__inner__textwrap-text {
    width: 100%;
    font-size: 3vw;
    line-height: 5vw;
    letter-spacing: 0.3rem;
    margin: 2rem 0 0 0;
  }
}

.l-reason {
  width: 100%;
  height: 100%;
  background: #FDF7E7;
  margin: 10rem 0;
  padding: 0 0 3rem 0;
}
.l-reason__ttlwrap {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 1.2rem;
  font-weight: bold;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: white;
  border: 1px solid #F5A512;
  border-radius: 70px;
}
.l-reason__ttlwrap-sub {
  margin: 0 auto;
  color: #F5A512;
  font-size: 1.2rem;
}
.l-reason__ttlwrap-ttl {
  margin: 0 auto;
  text-align: center;
  font-size: 2.4rem;
}
.l-reason__inner__left {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 5rem auto;
}
.l-reason__inner__left__img img {
  width: 100%;
}
.l-reason__inner__left__img-sp {
  display: none;
}
.l-reason__inner__left-Textwrap {
  width: 50%;
}
.l-reason__inner__left-subttl {
  font-size: 1.6rem;
  font-weight: bold;
  color: #F5A512;
}
.l-reason__inner__left-ttl {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 1.5rem;
  letter-spacing: 0.1rem;
}
.l-reason__inner__left-text {
  width: 90%;
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 1rem;
}
.l-reason__inner__right {
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 5rem auto;
}
.l-reason__inner__right__img img {
  width: 100%;
}
.l-reason__inner__right__img-sp {
  display: none;
}
.l-reason__inner__right-Textwrap {
  width: 35%;
  margin: 2rem 0 0 4rem;
}
.l-reason__inner__right-subttl {
  font-size: 1.6rem;
  font-weight: bold;
  color: #F5A512;
}
.l-reason__inner__right-ttl {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 1.5rem;
  letter-spacing: 0.1rem;
}
.l-reason__inner__right-text {
  width: 90%;
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 1rem;
}
@media screen and (max-width: 1023px) {
  .l-reason__ttlwrap {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 1.2rem;
    font-weight: bold;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    background: white;
    border: 1px solid #F5A512;
    border-radius: 70px;
  }
  .l-reason__ttlwrap-sub {
    margin: 0 auto;
    color: #F5A512;
    font-size: 0.8rem;
  }
  .l-reason__ttlwrap-ttl {
    margin: 0 auto;
    text-align: center;
    font-size: 1.6rem;
  }
  .l-reason__inner__left {
    width: 90%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: block;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin: 5rem auto;
  }
  .l-reason__inner__left__img img {
    width: 100%;
  }
  .l-reason__inner__left__img-pc {
    display: none;
  }
  .l-reason__inner__left__img-sp {
    display: block;
  }
  .l-reason__inner__left-Textwrap {
    width: 90%;
    margin: 2rem 0 0 1rem;
  }
  .l-reason__inner__left-subttl {
    font-size: 1.2rem;
    font-weight: bold;
    color: #F5A512;
  }
  .l-reason__inner__left-ttl {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 1.2rem;
    letter-spacing: 0.1rem;
  }
  .l-reason__inner__left-text {
    width: 100%;
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin-top: 1rem;
  }
  .l-reason__inner__right {
    width: 90%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: block;
    margin: 1.5rem auto;
  }
  .l-reason__inner__right__img img {
    width: 100%;
  }
  .l-reason__inner__right__img-pc {
    display: none;
  }
  .l-reason__inner__right__img-sp {
    display: block;
  }
  .l-reason__inner__right-Textwrap {
    width: 90%;
    margin: 2rem 0 0 1rem;
  }
  .l-reason__inner__right-subttl {
    font-size: 1.2rem;
    font-weight: bold;
    color: #F5A512;
  }
  .l-reason__inner__right-ttl {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 1.2rem;
    letter-spacing: 0.1rem;
  }
  .l-reason__inner__right-text {
    width: 100%;
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 1023px) {
  .l-reason {
    margin: 0 auto;
  }
}

.l-support {
  width: 100%;
  height: 100%;
}
.l-support__wrap {
  background: #FCEED0;
  border-radius: 20px;
  position: relative;
}
.l-support__wrap-reduction {
  position: absolute;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}
.l-support__wrap-ttl {
  width: 80%;
  border-radius: 50px;
  padding: 1.5rem;
  font-size: 1.2rem;
  margin: 0 auto;
  letter-spacing: 0.1rem;
  background: #F5A512;
  text-align: center;
  color: white;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.l-support__wrap-ttl span {
  font-size: 2rem;
  font-weight: bold;
}
.l-support__wrap-text {
  width: 70%;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 2.5rem;
  padding: 0 0 2.5rem 0;
}
@media screen and (max-width: 1023px) {
  .l-support__wrap {
    margin: 10rem auto;
    background: #FCEED0;
    border-radius: 20px;
    position: relative;
  }
  .l-support__wrap-reduction {
    width: 17vw;
    position: absolute;
    bottom: 0;
    -webkit-transform: translate(0%, 75%);
            transform: translate(0%, 75%);
  }
  .l-support__wrap-ttl {
    width: 90%;
    border-radius: 50px;
    padding: 1rem;
    font-size: 1rem;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    word-break: keep-all;
  }
  .l-support__wrap-ttl span {
    font-size: 1.4rem;
  }
  .l-support__wrap-text {
    width: 80%;
    margin: 0 auto;
    font-size: 0.8rem;
    line-height: 1.5rem;
    padding: 0 0 2.5rem 0;
  }
}

.l-flow {
  width: 100%;
  height: 100%;
  margin-top: 15rem;
  padding: 0 0 5rem 0;
  background: #FCEED0;
  position: relative;
}
@media screen and (max-width: 1023px) {
  .l-flow {
    margin-top: 0;
  }
}
.l-flow::after {
  content: "";
  position: absolute;
  top: -300px;
  left: 0;
  width: 100%;
  height: 300px;
  background: #FCEED0;
  -webkit-clip-path: polygon(50% 70%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 70%, 0% 100%, 100% 100%);
}
.l-flow__wrap {
  width: 100%;
  height: 100%;
}
.l-flow__ttlwrap {
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
  font-weight: bold;
}
.l-flow__ttlwrap-subttl {
  font-size: 1.6rem;
  color: #F5A512;
}
.l-flow__ttlwrap-ttl {
  margin-top: 0.5rem;
  font-size: 2.4rem;
}
.l-flow__inner {
  background: white;
  border-radius: 20px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
}
.l-flow__inner__list {
  padding: 2.5rem 0 0 0;
}
.l-flow__inner__list-item {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  font-size: 1.6rem;
  background: #FCDFAA;
  padding: 3rem;
  outline: 1px dotted black;
  outline-offset: -7px;
  border-radius: 20px;
}
.l-flow__inner__list-item-number {
  content: "1";
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: #F5A512;
  color: white;
}
.l-flow__inner__list-triangle {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 50px;
  border-color: #F5A512 transparent transparent transparent;
}
.l-flow__inner__list-triangle::before {
  content: "";
  position: absolute;
  top: -2.9rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 40px 0 40px;
  border-color: white transparent transparent transparent;
}
@media screen and (max-width: 1023px) {
  .l-flow__wrap {
    width: 100%;
    height: 100%;
  }
  .l-flow__ttlwrap {
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0;
    text-align: center;
    font-weight: bold;
  }
  .l-flow__ttlwrap-subttl {
    font-size: 1.4rem;
    color: #F5A512;
  }
  .l-flow__ttlwrap-ttl {
    margin-top: 0.5rem;
    font-size: 2rem;
  }
  .l-flow__inner {
    background: white;
    border-radius: 20px;
    height: 100%;
    margin: 0 auto;
    padding: 2rem;
  }
  .l-flow__inner__list {
    padding: 2.5rem 0 0 0;
  }
  .l-flow__inner__list-item {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    font-size: 1.2rem;
    background: #FCDFAA;
    padding: 3rem;
    outline: 1px dotted black;
    outline-offset: -7px;
    border-radius: 20px;
  }
  .l-flow__inner__list-item-number {
    content: "1";
    position: absolute;
    top: -1rem;
    left: -1rem;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: #F5A512;
    color: white;
  }
  .l-flow__inner__list-triangle {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 50px 0 50px;
    border-color: #F5A512 transparent transparent transparent;
  }
  .l-flow__inner__list-triangle::before {
    content: "";
    position: absolute;
    top: -2.9rem;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 40px 0 40px;
    border-color: white transparent transparent transparent;
  }
}

.l-Achievements {
  width: 100%;
  height: 100%;
  margin: 7.5rem 0;
}
.l-Achievements__wrap__ttlwrap {
  width: 80%;
  margin: 5rem auto 3rem auto;
  text-align: center;
  font-weight: bold;
}
.l-Achievements__wrap__ttlwrap-subttl {
  font-size: 1.6rem;
  color: #F5A512;
}
.l-Achievements__wrap__ttlwrap-ttl {
  font-size: 2.4rem;
  margin-top: 0.4rem;
}
.l-Achievements__wrap__imglist {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}
.l-Achievements__wrap__imglist-item {
  width: 100%;
}
.l-Achievements__wrap__imglist-item-text {
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 0.8rem;
}
.l-Achievements__wrap__imglist img {
  width: 100%;
}
.l-Achievements__wrap .swiper {
  display: none;
}
@media screen and (max-width: 1023px) {
  .l-Achievements__wrap__ttlwrap {
    width: 90%;
    margin: 0 auto 1rem auto;
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
  }
  .l-Achievements__wrap__ttlwrap-subttl {
    font-size: 1.4rem;
    color: #F5A512;
  }
  .l-Achievements__wrap__ttlwrap-ttl {
    font-size: 2rem;
    margin-top: 0.8rem;
    word-break: keep-all;
  }
  .l-Achievements__wrap__imglist {
    display: none;
  }
  .l-Achievements .swiper {
    display: block;
    width: 100%;
    height: 100%;
  }
  .l-Achievements .swiper-slide {
    margin: 2rem 0 0 0;
  }
  .l-Achievements .swiper-slide-sp {
    display: block;
  }
  .l-Achievements .swiper-slide .l-Achievements__slider-img {
    width: 100%;
  }
  .l-Achievements .swiper-slide .l-Achievements__slider__wrap {
    width: 80%;
    margin: 0 auto;
  }
  .l-Achievements .swiper-slide .l-Achievements__slider__wrap-ttl {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0.5rem 0 0 0;
  }
  .l-Achievements .swiper-slide .l-Achievements__slider__wrap-text {
    margin-top: 1rem;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .l-Achievements .swiper-slide .l-Achievements__slider img {
    display: block;
    width: 90%;
    margin: 0 auto;
    height: 100%;
  }
}

.l-voice .voice-slider-sp {
  display: none;
}
.l-voice__wrap__ttlwrap {
  width: 80%;
  margin: 0 auto 2rem auto;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.l-voice__wrap__ttlwrap-subttl {
  font-size: 1.6rem;
  color: #F5A512;
}
.l-voice__wrap__ttlwrap-ttl {
  font-size: 2.4rem;
  margin-top: 1.2rem;
}
.l-voice__wrap__imglist {
  width: 70%;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}
.l-voice__wrap__imglist-item {
  width: 100%;
}
.l-voice__wrap__imglist-item-text {
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 0.8rem;
}
.l-voice__wrap__imglist img {
  width: 100%;
}
.l-voice .swiper {
  width: 80%;
  height: 100%;
}
.l-voice .swiper-slide {
  margin: 2rem auto;
}
.l-voice .swiper-slide .l-voice__slider-img {
  width: 100%;
}
.l-voice .swiper-slide .l-voice__slider__wrap {
  width: 80%;
  margin: 2rem auto;
}
.l-voice .swiper-slide .l-voice__slider__wrap-ttl {
  font-size: 1rem;
  font-weight: bold;
  margin: 2rem 0 0 0;
}
.l-voice .swiper-slide .l-voice__slider__wrap-text {
  margin-top: 1rem;
  font-size: 0.8rem;
  line-height: 1.2rem;
}
.l-voice .swiper-slide .l-voice__slider img {
  display: block;
  width: 70%;
  margin: 0 auto;
  height: 100%;
}
@media screen and (max-width: 1023px) {
  .l-voice .voice-slider {
    display: none;
  }
  .l-voice .voice-slider-sp {
    display: block;
  }
  .l-voice__wrap__ttlwrap {
    width: 90%;
    margin: 0 auto 1rem auto;
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
  }
  .l-voice__wrap__ttlwrap-subttl {
    font-size: 1.4rem;
    color: #F5A512;
  }
  .l-voice__wrap__ttlwrap-ttl {
    font-size: 2rem;
    margin-top: 0.1rem;
  }
  .l-voice__wrap__imglist {
    width: 70%;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
  .l-voice__wrap__imglist-item {
    width: 100%;
  }
  .l-voice__wrap__imglist-item-text {
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 0.8rem;
  }
  .l-voice__wrap__imglist img {
    width: 100%;
  }
  .l-voice .swiper {
    width: 100%;
    height: 100%;
  }
  .l-voice .swiper-slide {
    margin: 2rem 0 0 0;
  }
  .l-voice .swiper-slide-sp {
    display: block;
  }
  .l-voice .swiper-slide .l-voice__slider-img {
    width: 100%;
  }
  .l-voice .swiper-slide .l-voice__slider__wrap {
    width: 80%;
    margin: 2rem auto;
  }
  .l-voice .swiper-slide .l-voice__slider__wrap-ttl {
    font-size: 1rem;
    font-weight: bold;
    margin: 2rem 0 0 0;
  }
  .l-voice .swiper-slide .l-voice__slider__wrap-text {
    margin-top: 1rem;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .l-voice .swiper-slide .l-voice__slider img {
    display: block;
    width: 70%;
    margin: 0 auto;
    height: 100%;
  }
}

.l-question {
  width: 100%;
  background: #527CAF;
  padding: 5rem 0;
  margin: 5rem 0 0 0;
}
@media screen and (max-width: 1023px) {
  .l-question {
    padding: 1rem 0;
  }
}
.l-question__wrap {
  height: 100%;
  background: white;
  border-radius: 20px;
  margin: 5rem auto;
  padding: 2rem;
}
.l-question__ttlwrap {
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
  font-weight: bold;
}
.l-question__ttlwrap-subttl {
  font-size: 1.6rem;
  color: #F5A512;
}
.l-question__ttlwrap-ttl {
  margin-top: 0.5rem;
  font-size: 2.4rem;
}
.l-question__inner {
  width: 70%;
  background: white;
  border-radius: 20px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
}
.l-question__inner__list {
  padding: 2.5rem 0 0 0;
}
.l-question__inner__list-item {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  font-size: 2rem;
  background: #FCDFAA;
  padding: 3rem;
  outline: 1px dotted black;
  outline-offset: -7px;
  border-radius: 20px;
}
.l-question__wrapper {
  margin: 5rem auto;
  padding: 0 0 5rem 0;
  background: #FCEED0;
  border-radius: 20px;
}
.l-question__wrapper-ttl {
  width: 70%;
  margin: 0 auto;
  padding: 2rem;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-align: center;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: #F5A512;
  border-radius: 50px;
}
.l-question__wrapper__list {
  width: 90%;
  margin: 0 auto;
  position: relative;
  padding: 28px 80px 28px 30px;
  cursor: pointer;
  border-bottom: 1px solid #F5A512;
}
.l-question__wrapper__list::before {
  position: absolute;
  top: 37px;
  right: 32px;
  display: block;
  width: 20px;
  margin: auto;
  content: "";
  border-top: 2px solid #F5A512;
}
.l-question__wrapper__list::after {
  position: absolute;
  top: 28px;
  right: 41px;
  display: block;
  height: 20px;
  margin: auto;
  content: "";
  border-right: 2px solid #F5A512;
}
.l-question__wrapper__list-item {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0 0 0 30px;
  font-weight: bold;
  font-size: 20px;
}
.l-question__wrapper__list-item::before {
  font-size: 22px;
  line-height: 1;
  position: absolute;
  top: 3px;
  left: 0;
  display: block;
  content: "Q.";
  color: #F5A512;
}
.l-question__wrapper__list__anser {
  position: relative;
  display: none;
  height: auto;
  margin: 20px 0 0;
  padding: 0 0 0 30px;
}
.l-question__wrapper__list__anser::before {
  font-size: 22px;
  line-height: 1;
  position: absolute;
  top: 3px;
  left: 2px;
  display: block;
  content: "A.";
  font-weight: bold;
  color: #3285bf;
}
.l-question__wrapper__list__anser-text {
  font-size: 1.2rem;
  margin: 3rem 0 0 0;
  line-height: 2rem;
}
.l-question__wrapper__list__anser-text:first-child {
  margin-top: 0;
}
.l-question__wrapper .open::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.l-question__wrapper .open::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media screen and (max-width: 1023px) {
  .l-question__wrap {
    height: 100%;
    background: white;
    border-radius: 20px;
    margin: 1rem auto;
    padding: 1rem;
  }
  .l-question__ttlwrap {
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0 0 0;
    text-align: center;
    font-weight: bold;
  }
  .l-question__ttlwrap-subttl {
    font-size: 1.4rem;
    color: #F5A512;
  }
  .l-question__ttlwrap-ttl {
    margin-top: 0.5rem;
    font-size: 2rem;
  }
  .l-question__inner {
    width: 70%;
    background: white;
    border-radius: 20px;
    height: 100%;
    margin: 0 auto;
    padding: 1rem;
  }
  .l-question__inner__list {
    padding: 2.5rem 0 0 0;
  }
  .l-question__inner__list-item {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    font-size: 2rem;
    background: #FCDFAA;
    padding: 3rem;
    outline: 1px dotted black;
    outline-offset: -7px;
    border-radius: 20px;
  }
  .l-question__wrapper {
    margin: 5rem auto 1rem auto;
    padding: 0 0 2rem 0;
    background: #FCEED0;
    border-radius: 20px;
  }
  .l-question__wrapper-ttl {
    width: 85%;
    margin: 0 auto;
    padding: 1.2rem;
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-align: center;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    background: #F5A512;
    border-radius: 50px;
  }
  .l-question__wrapper__list {
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding: 28px 50px 28px 15px;
    cursor: pointer;
    border-bottom: 1px solid #F5A512;
  }
  .l-question__wrapper__list::before {
    position: absolute;
    top: 37px;
    right: 27px;
    display: block;
    width: 15px;
    margin: auto;
    content: "";
    border-top: 2px solid #F5A512;
  }
  .l-question__wrapper__list::after {
    position: absolute;
    top: 30px;
    right: 33px;
    display: block;
    height: 15px;
    margin: auto;
    content: "";
    border-right: 2px solid #F5A512;
  }
  .l-question__wrapper__list-item {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0 0 0 30px;
    font-weight: bold;
    font-size: 0.8rem;
  }
  .l-question__wrapper__list-item::before {
    font-size: 20px;
    line-height: 1;
    position: absolute;
    top: -4px;
    left: 0;
    display: block;
    content: "Q.";
    color: #F5A512;
  }
  .l-question__wrapper__list__anser {
    position: relative;
    display: none;
    height: auto;
    margin: 20px 0 0;
    padding: 0 0 0 30px;
  }
  .l-question__wrapper__list__anser::before {
    font-size: 20px;
    line-height: 1;
    position: absolute;
    top: 3px;
    left: 2px;
    display: block;
    content: "A.";
    font-weight: bold;
    color: #3285bf;
  }
  .l-question__wrapper__list__anser-text {
    font-size: 0.6rem;
    margin: 3rem 0 0 0;
    line-height: 1.2rem;
  }
  .l-question__wrapper__list__anser-text:first-child {
    margin-top: 0;
  }
  .l-question__wrapper .open::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .l-question__wrapper .open::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

/* object */
.c-CV__btn {
  margin: 2rem 0 0 0;
}
.c-CV__btn-text {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  background: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  color: #F5A512;
}
.c-CV__btn-text:hover {
  font-size: 1.1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.u-margin {
  margin: 1vw 0;
}
/*# sourceMappingURL=map/style.css.map */