///--------------header strat-----------------///
@use "../foundation/base" as *;
@use "../foundation/mixin" as *;


///--------------pc header start-----------------///
.l-header {
    width: 100%;
    background: white;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.4s ease;
    z-index: 999;

    &__logo {
        padding: 0 0 0 5vw;

        img {
            width: 50%;
            height: auto;
        }
    }

    &__nav {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;

        &-item {
            padding: 0 0 0 2vw;
            font-size: 1rem;
            font-weight: bold;
            letter-spacing: .1rem;
            white-space: nowrap;

            &:first-child {
                padding: 0;
            }
        }
    }

    &__inquiry {
        height: 10vh;
        width: 15%;
        max-width: 100%;

        img {
            width: 215px;
            height: 175px;
            object-fit: cover;
            position: fixed;
            top: 0;
            right: 0;
        }
    }
}

.l-header__sp {
    display: none;
}

@include sp {
    .l-header {
        display: none;
    }

    .l-header__sp {
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        background: white;
        z-index: 100;

        &-logo {
            padding: .5rem;

            img {
                width: 50%;
            }
        }

        &__wrap {
            width: 90%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;

            &-logo {
                margin: 0 0 0 3rem;

                img {
                    width: 80%;
                }
            }
        }

        &__inner {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 1rem;
        }
    }
}


.l-drawer {
    &__button.active {
        span {
            &:first-child {
                transform: translate(-50%, -50%) rotate(-45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:last-child {
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
    }

    &__button {
        position: relative;
        width: 3rem;
        height: 3rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 999;
        background: white;

        span {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 2rem;
            height: 2px;
            background-color: $sub-Color1;
            transform: translateX(-50%);



            &:first-child {
                transform: translate(-50%, calc(-50% - 0.5rem));
                transition: transform 0.3s ease;
            }

            &:nth-child(2) {
                transform: translate(-50%, -50%);
                transition: opacity 0.3s ease;
            }

            &:last-child {
                transform: translate(-50%, calc(-50% + 0.5rem));
                transition: transform 0.3s ease;
            }
        }
    }

    &__nav.active {
        opacity: 1;
        visibility: visible;
    }

    &__nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        transition: opacity 0.3s ease;
        opacity: 0;
        visibility: hidden;

        &__inner {
            position: relative;
            width: 80%;
            height: 100%;
            background-color: white;
            padding: 8rem 1.5rem 1rem;
            margin: 0 0 0 auto;
            overflow: scroll;
            transform: translateX(100%);
            transition: transform 0.3s ease;
        }

        &__menu {
            list-style: none;
            padding-left: 0;
        }

        &__link {
            display: block;
            color: white;
            font-size: 1.2rem;
            text-decoration: none;
            padding: 1rem 1rem;
            border-bottom: solid 1px lightgray;

        }
    }
}

.l-drawer__nav.active .l-drawer__nav__inner {
    background: $sub-Color1;
    transform: translateX(0);
}