///--------------header strat-----------------///
@use "../foundation/base" as *;
@use "../foundation/mixin" as *;


///--------------pc header start-----------------///
.l-header {
    width: 100%;
    background: white;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.4s ease;
    z-index: 999;

    &__logo {
        padding: 0 0 0 5vw;

        img {
            width: 50%;
            height: auto;
        }
    }

    &__nav {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;

        &-item {
            padding: 0 0 0 2vw;
            font-size: 1rem;
            font-weight: bold;
            letter-spacing: .1rem;
            white-space: nowrap;

            &:first-child {
                padding: 0;
            }
        }
    }

    &__inquiry {
        height: 10vh;
        width: 15%;
        max-width: 100%;

        img {
            width: 215px;
            height: 175px;
            object-fit: cover;
            position: fixed;
            top: 0;
            right: 0;
        }
    }
}

.l-header__sp {
    display: none;
}

@include sp {
    .l-header {
        display: none;
    }

    .l-header__sp {
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        background: white;
        z-index: 100;

        &__wrap {
            width: 90%;
            height: 8vh;
            display: flex;
            align-items: center;

            &-logo {
                margin: 0 0 0 3rem;

                img {
                    width: 45%;
                }
            }

            &__hum {
                width: 50%;

                .l-header__ham {
                    &-logo {
                        width: 20%;
                        position: fixed;
                        top: 10px;
                        left: 30px;
                        z-index: -1;

                        img {
                            width: 80px;
                            height: 64px;
                        }
                    }

                    #menu__toggle {
                        opacity: 0;

                        &:checked~ {

                            .menu__btn>span {
                                transform: rotate(45deg);
                                width: 35px;
                                position: absolute;
                                right: 7px;

                                &::before {
                                    top: 0;
                                    transform: rotate(0);
                                    background: #fff;

                                }

                                &::after {
                                    top: 0;
                                    transform: rotate(90deg);
                                    background: #fff;
                                }
                            }

                            .menu__content {
                                visibility: visible;
                                right: 0;
                                z-index: -1;
                            }
                        }
                    }

                    .menu__btn {
                        display: flex;
                        align-items: center;
                        position: fixed;
                        top: 10px;
                        right: 20px;
                        width: 50px;
                        height: 50px;
                        cursor: pointer;
                        z-index: 999;

                        .menu__btn__bar {
                            display: block;
                            position: absolute;
                            right: 7px;
                            width: 100%;
                            width: 40px;
                            height: 2px;
                            background-color: $sub-Color1;
                            transition-duration: 0.5s;

                            &::before,
                            &::after {
                                @extend .menu__btn__bar;
                                content: "";
                            }

                            &::before {
                                top: -8px;
                                left: 0;
                                content: "";
                            }

                            &::after {
                                top: 8px;
                                left: 0;
                                content: "";
                            }
                        }
                    }

                    .menu__content {
                        position: fixed;
                        visibility: hidden;
                        top: 0;
                        width: 300px;
                        height: 100%;
                        display: block;
                        right: -100%;
                        margin: 0;
                        padding: 12rem 0;
                        list-style: none;
                        background-color: $sub-Color1;
                        box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
                        transition-duration: 0.5s;

                        &-text {
                            display: block;
                            padding: 12px 34px;
                            transition-duration: 0.25s;

                            a {
                                text-decoration: none;
                                color: #fff;
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
}