// ---------------------------- blog  start------------------------
@use "../foundation/base" as *;
@use "../foundation/mixin" as *;

main {
    .l-hero {
        width: 100%;
        height: 95vh;
        position: relative;
        background: $main-Color;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 95vh;
            background-image: url(../../src/img/hero.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        &__textwrap {
            position: absolute;
            top: 50%;
            transform: translate(0%, -50%);
            z-index: 2;
            left: 5%;

            &-item01 {
                width: 100%;
                font-size: 3rem;
                font-weight: bold;
                background: white;
                margin: 0 0 1rem 0;
                padding: .3rem 2.5rem;

                span {
                    font-size: 6rem;
                    color: $sub-Color1;
                }
            }

            &-item02 {
                width: 55%;
                font-size: 2rem;
                font-weight: bold;
                background: white;
                margin: 0 0 1rem 0;
                padding: .3rem 1.5rem;
            }

            &-item03 {
                width: 71%;
                font-size: 2rem;
                font-weight: bold;
                background: white;
                margin: 0 0 1rem 0;
                padding: .3rem 1.5rem;
            }
        }

        &__CV {
            position: fixed;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0%);
            z-index: 3;
        }


        @include sp {
            &__textwrap {
                position: absolute;
                top: 50%;
                transform: translate(0%, -50%);
                z-index: 2;
                left: 0;

                &-item01 {
                    width: 100%;
                    font-size: 1.2rem;
                    font-weight: bold;
                    background: white;
                    margin: 0 0 1rem 0;
                    padding: .3rem 2.5rem;

                    span {
                        font-size: 3rem;
                        color: $sub-Color1;
                    }
                }

                &-item02 {
                    width: 70%;
                    font-size: 1.2rem;
                    font-weight: bold;
                    background: white;
                    margin: 0 0 1rem 0;
                    padding: .3rem 1.5rem;
                }

                &-item03 {
                    width: 90%;
                    font-size: 1.2rem;
                    font-weight: bold;
                    background: white;
                    margin: 0 0 1rem 0;
                    padding: .3rem 1.5rem;
                }
            }

            &__CV {
                width: 65%;
                position: fixed;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 20%);
                z-index: 3;

                img {
                    width: 100%;
                }
            }
        }
    }
}

.l-trouble {
    width: 100%;
    background: $main-Color;
    height: 100%;

    &-ttl {
        position: relative;
        width: 80%;
        font-size: 2rem;
        font-weight: bold;
        margin: 0 auto;
        padding: 2rem;
        text-align: center;
        background: white;
        border: 3px solid $sub-Color1;
        border-radius: 50px;
        transform: translate(0%, -60%);

        &::after {
            content: "";
            position: absolute;
            bottom: -50px;
            left: 50%;
            width: 75px;
            height: 50px;
            background: $sub-Color1;
            transform: translate(-50%, 0%);
            clip-path: polygon(50% 100%, 0 0, 100% 0);
            z-index: 1;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: -45px;
            left: 50%;
            width: 75px;
            height: 50px;
            background: white;
            transform: translate(-50%, 0%);
            clip-path: polygon(50% 100%, 0 0, 100% 0);
            z-index: 2;
        }
    }

    &__wrapper {
        width: 90%;
        height: 100%;
        margin: 0 auto 5rem auto;

        &-pcimg {
            width: 100%;
            margin: 0 auto;
        }

        &-spimg {
            display: none;
        }

        &-text {
            width: 100%;
            padding: 2rem 0 2rem 0;
            text-align: center;
            font-size: 1.4rem;

            span {
                font-weight: bold;
            }
        }
    }


    @include sp {
        &-ttl {
            position: relative;
            width: 80%;
            font-size: 3vw;
            font-weight: bold;
            margin: 0 auto;
            padding: 1.2rem;
            text-align: center;
            background: white;
            border: 3px solid $sub-Color1;
            border-radius: 50px;
            transform: translate(0%, -60%);

            &::after {
                content: "";
                position: absolute;
                bottom: -3vw;
                left: 50%;
                width: 5vw;
                height: 3vw;
                background: $sub-Color1;
                transform: translate(-50%, 0%);
                clip-path: polygon(50% 100%, 0 0, 100% 0);
                z-index: 1;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: -2.4vw;
                left: 50%;
                width: 5vw;
                height: 3vw;
                background: white;
                transform: translate(-50%, 0%);
                clip-path: polygon(50% 100%, 0 0, 100% 0);
                z-index: 2;
            }
        }

        &__wrapper {
            width: 90%;
            height: 100%;
            margin: 0 auto 2rem auto;


            &-pcimg {
                display: none;
            }

            &-spimg {
                display: block;
            }
        }
    }
}

.l-about {
    width: 100%;
    width: 100%;
    margin: 5rem 0 10rem 0;

    &__wrap {
        width: 80%;
        margin: 0 auto;

        &-ttl {
            font-size: 2rem;
            text-align: center;
        }

        &__imgtext {
            width: 100%;
            margin: 2rem auto;
            display: flex;
            justify-content: center;
            align-items: center;

            &-img {
                width: 20%;
            }

            &-text {
                width: 20%;
                margin: 0 0 0 2rem;
                font-size: 2rem;
                font-weight: bold;
            }
        }
    }



    &__inner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        margin: 5rem 0;

        &-img {
            width: 50%;
            height: 100%;
        }

        &__textwrap {
            width: 50%;
            margin: 2vw 0 0 7vw;

            &-ttl {
                // font-size: clamp(1.6rem, 2vw, 2.4rem);
                font-size: 2.5vw;
                letter-spacing: .3rem;
                line-height: 3vw;
                font-weight: bold;
            }

            &-text {
                width: 100%;
                // font-size: clamp(.8rem, 2vw, 1.2rem);
                font-size: 1.6vw;
                line-height: 3vw;
                letter-spacing: .3rem;
                margin: 2rem 0 0 0;
            }
        }
    }

    @include sp {
        &__wrap {
            width: 100%;
            margin: 0 auto;

            &-ttl {
                font-size: 1.6rem;
                text-align: center;
            }

            &__imgtext {
                width: 100%;
                margin: 2rem auto;
                display: flex;
                justify-content: center;
                align-items: center;

                &-img {
                    width: 30%;
                }

                &-text {
                    width: 30%;
                    margin: 0 0 0 1.5rem;
                    font-size: 5vw;
                    font-weight: bold;
                }
            }
        }


        &__inner {
            width: 100%;
            height: 100%;
            display: block;
            margin-top: 5rem;

            &-img {
                width: 90%;
                height: 100%;
            }

            &__textwrap {
                width: 90%;
                margin: 2vw 0 0 10vw;

                &-ttl {
                    // font-size: clamp(1.6rem, 2vw, 2.4rem);
                    font-size: 4vw;
                    letter-spacing: .3rem;
                    line-height: 5vw;
                    font-weight: bold;
                }

                &-text {
                    width: 100%;
                    // font-size: clamp(.8rem, 2vw, 1.2rem);
                    font-size: 3vw;
                    line-height: 5vw;
                    letter-spacing: .3rem;
                    margin: 2rem 0 0 0;
                }
            }
        }
    }
}


.l-reason {
    width: 100%;
    height: 100%;
    background: $main-color-bg;
    margin: 10rem 0;
    padding: 0 0 3rem 0;

    &__ttlwrap {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        padding: 1.2rem;
        font-weight: bold;
        transform: translate(0, -50%);
        background: white;
        border: 1px solid $sub-Color1;
        border-radius: 70px;

        &-sub {
            margin: 0 auto;
            color: $sub-Color1;
            // font-size: clamp(1.6rem, 3vw, 2.4rem);
            font-size: 1.2rem;
        }

        &-ttl {
            margin: 0 auto;
            text-align: center;
            // font-size: clamp(2.4rem, 3vw, 4rem);
            font-size: 2.4rem;
        }
    }

    &__inner {
        &__left {
            justify-content: center;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            margin: 5rem auto;

            &__img {
                img {
                    width: 100%;
                }

                &-pc {}

                &-sp {
                    display: none;
                }
            }

            &-Textwrap {
                width: 50%;
            }

            &-subttl {
                font-size: 1.6rem;
                font-weight: bold;
                // font-size: clamp(2.4rem, 4vw, 4rem);
                color: $sub-Color1;
            }

            &-ttl {
                font-size: 1.6rem;
                font-weight: bold;
                margin-top: 1.5rem;
                letter-spacing: .1rem;
                // font-size: clamp(1.6rem, 3vw, 2.4rem);
            }

            &-text {
                width: 90%;
                font-size: 1rem;
                line-height: 2rem;
                margin-top: 1rem;
                // font-size: clamp(1rem, 3vw, 1.2rem);
            }
        }

        &__right {
            width: 100%;
            justify-content: center;
            display: flex;
            margin: 5rem auto;

            &__img {

                img {
                    width: 100%;
                }

                &-pc {}

                &-sp {
                    display: none;
                }
            }

            &-Textwrap {
                width: 35%;
                margin: 2rem 0 0 4rem;
            }

            &-subttl {
                font-size: 1.6rem;
                font-weight: bold;
                color: $sub-Color1;
            }

            &-ttl {
                font-size: 1.6rem;
                font-weight: bold;
                margin-top: 1.5rem;
                letter-spacing: .1rem;
            }

            &-text {
                width: 90%;
                font-size: 1rem;
                line-height: 2rem;
                margin-top: 1rem;
                // font-size: clamp(1rem, 3vw, 1.2rem);
            }
        }
    }

    @include sp {
        &__ttlwrap {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            padding: 1.2rem;
            font-weight: bold;
            transform: translate(0, -50%);
            background: white;
            border: 1px solid $sub-Color1;
            border-radius: 70px;

            &-sub {
                margin: 0 auto;
                color: $sub-Color1;
                // font-size: clamp(1.6rem, 3vw, 2.4rem);
                font-size: .8rem;
            }

            &-ttl {
                margin: 0 auto;
                text-align: center;
                // font-size: clamp(2.4rem, 3vw, 4rem);
                font-size: 1.6rem;
            }
        }

        &__inner {
            &__left {
                width: 90%;
                justify-content: center;
                display: block;
                align-items: center;
                flex-direction: row-reverse;
                margin: 5rem auto;

                &__img {
                    img {
                        width: 100%;
                    }

                    &-pc {
                        display: none;
                    }

                    &-sp {
                        display: block;
                    }
                }

                &-Textwrap {
                    width: 90%;
                    margin: 2rem 0 0 1rem;
                }

                &-subttl {
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: $sub-Color1;
                }

                &-ttl {
                    font-size: 1.4rem;
                    font-weight: bold;
                    margin-top: 1.2rem;
                    letter-spacing: .1rem;
                }

                &-text {
                    width: 100%;
                    font-size: .8rem;
                    line-height: 1.5rem;
                    margin-top: 1rem;
                }
            }

            &__right {
                width: 90%;
                justify-content: center;
                display: block;
                margin: 1.5rem auto;

                &__img {

                    img {
                        width: 100%;
                    }

                    &-pc {
                        display: none;
                    }

                    &-sp {
                        display: block;
                    }
                }

                &-Textwrap {
                    width: 90%;
                    margin: 2rem 0 0 1rem;
                }

                &-subttl {
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: $sub-Color1;
                }

                &-ttl {
                    font-size: 1.4rem;
                    font-weight: bold;
                    margin-top: 1.2rem;
                    letter-spacing: .1rem;
                }

                &-text {
                    width: 100%;
                    font-size: .8rem;
                    line-height: 1.5rem;
                    margin-top: 1rem;
                }
            }
        }
    }
}

.l-reason {
    @include sp {
        margin: 0 auto;
    }
}

.l-support {
    width: 100%;
    height: 100%;

    &__wrap {
        background: $main-Color;
        border-radius: 20px;
        position: relative;

        &-reduction {
            position: absolute;
            bottom: 0;
            transform: translate(-50%, 50%);
        }


        &-ttl {
            width: 80%;
            border-radius: 50px;
            padding: 1.5rem;
            font-size: 1.2rem;
            font-weight: 700;
            margin: 0 auto;
            letter-spacing: .1rem;
            background: $sub-Color1;
            text-align: center;
            color: white;
            transform: translate(0, -50%);

            span {
                font-size: 2rem;
            }
        }

        &-text {
            width: 70%;
            margin: 0 auto;
            font-size: 1rem;
            line-height: 2.5rem;
            padding: 0 0 2.5rem 0;
        }
    }

    @include sp {
        &__wrap {
            margin: 10rem auto;
            background: $main-Color;
            border-radius: 20px;
            position: relative;

            &-reduction {
                width: 17vw;
                position: absolute;
                bottom: 0;
                transform: translate(0%, 75%);
            }


            &-ttl {
                width: 90%;
                border-radius: 50px;
                padding: 1rem;
                font-size: 1rem;
                font-weight: bold;
                transform: translate(0, -50%);
                word-break: keep-all;

                span {
                    font-size: 1.4rem;
                }
            }

            &-text {
                width: 80%;
                margin: 0 auto;
                font-size: .8rem;
                line-height: 1.5rem;
                padding: 0 0 2.5rem 0;
            }
        }
    }
}


.l-flow {
    width: 100%;
    height: 100%;
    margin-top: 15rem;
    padding: 0 0 5rem 0;
    background: $main-Color;
    position: relative;

    @include sp {
        margin-top: 0;
    }

    &::after {
        content: "";
        position: absolute;
        top: -300px;
        left: 0;
        width: 100%;
        height: 300px;
        background: $main-Color;
        clip-path: polygon(50% 70%, 0% 100%, 100% 100%);
    }

    &__wrap {
        width: 100%;
        height: 100%;
    }


    &__ttlwrap {
        width: 100%;
        margin: 0 auto;
        padding: 3rem 0;
        text-align: center;
        font-weight: bold;

        &-subttl {
            font-size: 1.6rem;
            color: $sub-Color1;
        }

        &-ttl {
            margin-top: .5rem;
            font-size: 2.4rem;
        }
    }

    &__inner {
        background: white;
        border-radius: 20px;
        height: 100%;
        margin: 0 auto;
        padding: 2rem;

        &__list {
            padding: 2.5rem 0 0 0;

            &-item {
                position: relative;
                margin: 0 auto;
                text-align: center;
                width: 50%;
                font-size: 1.6rem;
                background: #FCDFAA;
                padding: 3rem;
                outline: 1px dotted black;
                outline-offset: -7px;
                border-radius: 20px;

                &-number {
                    content: "1";
                    position: absolute;
                    top: -1rem;
                    left: -1rem;
                    width: 75px;
                    height: 75px;
                    border-radius: 50%;
                    display: grid;
                    place-items: center;
                    background: $sub-Color1;
                    color: white;
                }
            }

            &-triangle {
                position: relative;
                left: 50%;
                transform: translate(-50%, 0);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 50px 50px 0 50px;
                border-color: $sub-Color1 transparent transparent transparent;

                &::before {
                    content: "";
                    position: absolute;
                    top: -2.9rem;
                    left: 50%;
                    transform: translate(-50%, 0);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 40px 40px 0 40px;
                    border-color: white transparent transparent transparent;
                }
            }
        }
    }

    @include sp {

        &__wrap {
            width: 100%;
            height: 100%;
        }


        &__ttlwrap {
            width: 100%;
            margin: 0 auto;
            padding: 3rem 0;
            text-align: center;
            font-weight: bold;

            &-subttl {
                font-size: 1.4rem;
                color: $sub-Color1;
            }

            &-ttl {
                margin-top: .5rem;
                font-size: 2rem;
            }
        }

        &__inner {
            background: white;
            border-radius: 20px;
            height: 100%;
            margin: 0 auto;
            padding: 2rem;

            &__list {
                padding: 2.5rem 0 0 0;

                &-item {
                    position: relative;
                    margin: 0 auto;
                    text-align: center;
                    width: 80%;
                    font-size: 1.2rem;
                    background: #FCDFAA;
                    padding: 3rem;
                    outline: 1px dotted black;
                    outline-offset: -7px;
                    border-radius: 20px;

                    &-number {
                        content: "1";
                        position: absolute;
                        top: -1rem;
                        left: -1rem;
                        width: 75px;
                        height: 75px;
                        border-radius: 50%;
                        display: grid;
                        place-items: center;
                        background: $sub-Color1;
                        color: white;
                    }
                }

                &-triangle {
                    position: relative;
                    left: 50%;
                    transform: translate(-50%, 0);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 50px 50px 0 50px;
                    border-color: $sub-Color1 transparent transparent transparent;

                    &::before {
                        content: "";
                        position: absolute;
                        top: -2.9rem;
                        left: 50%;
                        transform: translate(-50%, 0);
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 40px 40px 0 40px;
                        border-color: white transparent transparent transparent;
                    }
                }
            }
        }
    }
}

.l-Achievements {
    width: 100%;
    height: 100%;
    margin: 8rem 0;

    &__wrap {
        &__ttlwrap {
            width: 80%;
            margin: 5rem auto 3rem auto;
            text-align: center;
            font-weight: bold;

            &-subttl {
                font-size: 1.6rem;
                color: $sub-Color1;
            }

            &-ttl {
                font-size: 2.4rem;
                margin-top: .4rem;
            }
        }

        &__imglist {
            display: grid;
            gap: 30px;
            grid-template-columns: 1fr 1fr;
            margin: 0 auto;

            &-item {
                width: 100%;

                &-text {
                    font-size: .8rem;
                    font-weight: bold;
                    margin-top: .8rem;
                }
            }

            img {
                width: 100%;
            }
        }

        .swiper {
            display: none;
        }
    }

    @include sp {
        &__wrap {
            &__ttlwrap {
                width: 90%;
                margin: 0 auto 1rem auto;
                text-align: left;
                font-size: 2rem;
                font-weight: bold;

                &-subttl {
                    font-size: 1.4rem;
                    color: $sub-Color1;
                }

                &-ttl {
                    font-size: 2rem;
                    margin-top: .8rem;
                    word-break: break-word;
                }
            }

            &__imglist {
                display: none;
            }
        }

        .swiper {
            display: block;
            width: 100%;
            height: 100%;

            &-slide {
                margin: 2rem 0 0 0;

                &-sp {
                    display: block;
                }

                .l-Achievements__slider {
                    &-img {
                        width: 100%;
                    }

                    &__wrap {
                        width: 80%;
                        margin: 0 auto;

                        &-ttl {
                            font-size: .8rem;
                            font-weight: bold;
                            margin: .5rem 0 0 0;
                        }

                        &-text {
                            margin-top: 1rem;
                            font-size: .8rem;
                            line-height: 1.2rem;
                        }
                    }

                    img {
                        display: block;
                        width: 90%;
                        margin: 0 auto;
                        height: 100%;
                    }
                }
            }
        }
    }

}

.l-voice {
    .voice-slider-sp {
        display: none;
    }

    &__wrap {
        &__ttlwrap {
            width: 80%;
            margin: 0 auto 2rem auto;
            text-align: center;
            font-size: 2rem;
            font-weight: bold;

            &-subttl {
                font-size: 1.6rem;
                color: $sub-Color1;
            }

            &-ttl {
                font-size: 2.4rem;
                margin-top: 1.2rem;
            }
        }

        &__imglist {
            width: 70%;
            display: grid;
            gap: 30px;
            grid-template-columns: 1fr 1fr;
            margin: 0 auto;

            &-item {
                width: 100%;

                &-text {
                    font-size: .8rem;
                    font-weight: bold;
                    margin-top: .8rem;
                }
            }

            img {
                width: 100%;
            }
        }
    }

    .swiper {
        width: 80%;
        height: 100%;

        &-slide {
            margin: 2rem auto;

            .l-voice__slider {
                &-img {
                    width: 100%;
                }

                &__wrap {
                    width: 80%;
                    margin: 2rem auto;

                    &-ttl {
                        font-size: 1rem;
                        font-weight: bold;
                        margin: 2rem 0 0 0;
                    }

                    &-text {
                        margin-top: 1rem;
                        font-size: .8rem;
                        line-height: 1.2rem;
                    }
                }

                img {
                    display: block;
                    width: 70%;
                    margin: 0 auto;
                    height: 100%;
                }
            }
        }
    }

    @include sp {
        .voice-slider {
            display: none;
        }

        .voice-slider-sp {
            display: block;
        }

        &__wrap {
            &__ttlwrap {
                width: 90%;
                margin: 0 auto 1rem auto;
                text-align: left;
                font-size: 2rem;
                font-weight: bold;

                &-subttl {
                    font-size: 1.4rem;
                    color: $sub-Color1;
                }

                &-ttl {
                    font-size: 2rem;
                    margin-top: .1rem;
                }
            }

            &__imglist {
                width: 70%;
                display: grid;
                gap: 30px;
                grid-template-columns: 1fr 1fr;
                margin: 0 auto;

                &-item {
                    width: 100%;

                    &-text {
                        font-size: .8rem;
                        font-weight: bold;
                        margin-top: .8rem;
                    }
                }

                img {
                    width: 100%;
                }
            }
        }

        .swiper {
            width: 100%;
            height: 100%;

            &-slide {
                margin: 2rem 0 0 0;

                &-sp {
                    display: block;
                }

                .l-voice__slider {
                    &-img {
                        width: 100%;
                    }

                    &__wrap {
                        width: 80%;
                        margin: 2rem auto;

                        &-ttl {
                            font-size: 1rem;
                            font-weight: bold;
                            margin: 2rem 0 0 0;
                        }

                        &-text {
                            margin-top: 1rem;
                            font-size: .8rem;
                            line-height: 1.2rem;
                        }
                    }

                    img {
                        display: block;
                        width: 70%;
                        margin: 0 auto;
                        height: 100%;
                    }
                }
            }
        }
    }
}

.l-question {
    width: 100%;
    background: $sub-Color2;
    padding: 5rem 0;
    margin: 5rem 0 0 0;

    @include sp {
        padding: 1rem 0;
    }

    &__wrap {
        height: 100%;
        background: white;
        border-radius: 20px;
        margin: 5rem auto;
        padding: 2rem;
    }


    &__ttlwrap {
        width: 100%;
        margin: 0 auto;
        padding: 3rem 0;
        text-align: center;
        font-weight: bold;

        &-subttl {
            font-size: 1.6rem;
            color: $sub-Color1;
        }

        &-ttl {
            margin-top: .5rem;
            font-size: 2.4rem;
        }
    }

    &__inner {
        width: 70%;
        background: white;
        border-radius: 20px;
        height: 100%;
        margin: 0 auto;
        padding: 2rem;

        &__list {
            padding: 2.5rem 0 0 0;

            &-item {
                position: relative;
                margin: 0 auto;
                text-align: center;
                width: 50%;
                font-size: 2rem;
                background: #FCDFAA;
                padding: 3rem;
                outline: 1px dotted black;
                outline-offset: -7px;
                border-radius: 20px;
            }
        }
    }


    &__wrapper {
        margin: 5rem auto;
        padding: 0 0 5rem 0;
        background: $main-Color;
        border-radius: 20px;

        &-ttl {
            width: 70%;
            margin: 0 auto;
            padding: 2rem;
            font-size: 1.5rem;
            color: white;
            font-weight: bold;
            letter-spacing: .2rem;
            text-align: center;
            transform: translate(0, -50%);
            background: $sub-Color1;
            border-radius: 50px;
        }

        &__list {
            width: 90%;
            margin: 0 auto;
            position: relative;
            padding: 28px 80px 28px 30px;
            cursor: pointer;
            border-bottom: 1px solid $sub-Color1;


            &::before {
                position: absolute;
                top: 37px;
                right: 32px;
                display: block;
                width: 20px;
                margin: auto;
                content: '';
                border-top: 2px solid $sub-Color1;
            }

            &::after {
                position: absolute;
                top: 28px;
                right: 41px;
                display: block;
                height: 20px;
                margin: auto;
                content: "";
                border-right: 2px solid $sub-Color1;
            }

            &-item {
                width: 100%;
                position: relative;
                margin: 0;
                padding: 0 0 0 30px;
                font-weight: bold;
                font-size: 20px;

                &::before {
                    font-size: 22px;
                    line-height: 1;
                    position: absolute;
                    top: 3px;
                    left: 0;
                    display: block;
                    content: 'Q.';
                    color: $sub-Color1;
                }
            }

            &__anser {
                position: relative;
                display: none;
                height: auto;
                margin: 20px 0 0;
                padding: 0 0 0 30px;

                &::before {
                    font-size: 22px;
                    line-height: 1;
                    position: absolute;
                    top: 3px;
                    left: 2px;
                    display: block;
                    content: 'A.';
                    font-weight: bold;
                    color: #3285bf;
                }

                &-text {
                    font-size: 1.2rem;
                    margin: 3rem 0 0 0;
                    line-height: 2rem;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }

        .open {
            &::after {
                transform: rotate(45deg);
            }

            &::before {
                transform: rotate(45deg);
            }
        }
    }

    @include sp {
        &__wrap {
            height: 100%;
            background: white;
            border-radius: 20px;
            margin: 1rem auto;
            padding: 1rem;
        }


        &__ttlwrap {
            width: 100%;
            margin: 0 auto;
            padding: 3rem 0 0 0;
            text-align: center;
            font-weight: bold;

            &-subttl {
                font-size: 1.4rem;
                color: $sub-Color1;
            }

            &-ttl {
                margin-top: .5rem;
                font-size: 2rem;
            }
        }

        &__inner {
            width: 70%;
            background: white;
            border-radius: 20px;
            height: 100%;
            margin: 0 auto;
            padding: 1rem;

            &__list {
                padding: 2.5rem 0 0 0;

                &-item {
                    position: relative;
                    margin: 0 auto;
                    text-align: center;
                    width: 50%;
                    font-size: 2rem;
                    background: #FCDFAA;
                    padding: 3rem;
                    outline: 1px dotted black;
                    outline-offset: -7px;
                    border-radius: 20px;
                }
            }
        }


        &__wrapper {
            margin: 5rem auto 1rem auto;
            padding: 0 0 2rem 0;
            background: $main-Color;
            border-radius: 20px;

            &-ttl {
                width: 85%;
                margin: 0 auto;
                padding: 1.2rem;
                font-size: .8rem;
                color: white;
                font-weight: bold;
                letter-spacing: .2rem;
                text-align: center;
                transform: translate(0, -50%);
                background: $sub-Color1;
                border-radius: 50px;
            }

            &__list {
                width: 90%;
                margin: 0 auto;
                position: relative;
                padding: 28px 50px 28px 15px;
                cursor: pointer;
                border-bottom: 1px solid $sub-Color1;

                &::before {
                    position: absolute;
                    top: 37px;
                    right: 27px;
                    display: block;
                    width: 15px;
                    margin: auto;
                    content: '';
                    border-top: 2px solid $sub-Color1;
                }

                &::after {
                    position: absolute;
                    top: 30px;
                    right: 33px;
                    display: block;
                    height: 15px;
                    margin: auto;
                    content: "";
                    border-right: 2px solid $sub-Color1;
                }

                &-item {
                    width: 100%;
                    position: relative;
                    margin: 0;
                    padding: 0 0 0 30px;
                    font-weight: bold;
                    font-size: .8rem;

                    &::before {
                        font-size: 20px;
                        line-height: 1;
                        position: absolute;
                        top: -4px;
                        left: 0;
                        display: block;
                        content: 'Q.';
                        color: $sub-Color1;
                    }
                }

                &__anser {
                    position: relative;
                    display: none;
                    height: auto;
                    margin: 20px 0 0;
                    padding: 0 0 0 30px;

                    &::before {
                        font-size: 20px;
                        line-height: 1;
                        position: absolute;
                        top: 3px;
                        left: 2px;
                        display: block;
                        content: 'A.';
                        font-weight: bold;
                        color: #3285bf;
                    }

                    &-text {
                        font-size: .6rem;
                        margin: 3rem 0 0 0;
                        line-height: 1.2rem;

                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }
            }


            .open {
                &::after {
                    transform: rotate(45deg);
                }

                &::before {
                    transform: rotate(45deg);
                }

            }

        }
    }
}